n8n-workflows/2-strong-signal-alert.json
{
    "name": "AI Hedge Fund - Strong Signal Alert (Batched)",
    "nodes": [
        {
            "parameters": {
                "updates": [
                    "message"
                ],
                "additionalFields": {}
            },
            "name": "Telegram Trigger",
            "type": "n8n-nodes-base.telegramTrigger",
            "typeVersion": 1,
            "position": [
                -1040,
                304
            ],
            "webhookId": "telegram-signal-trigger",
            "id": "bf3ba2b6-a533-4367-b7fd-4a941e210aac",
            "credentials": {
                "telegramApi": {
                    "id": "3ocfCvvjIk4mgxda",
                    "name": "Telegram account"
                }
            }
        },
        {
            "parameters": {
                "jsCode": "// Parse Telegram message to extract ticker\nconst message = $json.message?.text || '';\nconst chatId = $json.message?.chat?.id;\nconst firstName = $json.message?.from?.first_name || 'User';\n\n// Check if it's an analyze command\nconst analyzeMatch = message.match(/^\\/analyze\\s+([A-Za-z]+)/i);\nconst tickerMatch = message.match(/^([A-Za-z]{1,5})$/i);\n\nlet ticker = null;\nlet isValidCommand = false;\n\nif (analyzeMatch) {\n  ticker = analyzeMatch[1].toUpperCase();\n  isValidCommand = true;\n} else if (tickerMatch) {\n  ticker = tickerMatch[1].toUpperCase();\n  isValidCommand = true;\n}\n\nif (!isValidCommand || !ticker) {\n  return [{\n    json: {\n      isValid: false,\n      chatId: chatId,\n      errorMessage: `Merhaba ${firstName}! 👋\\n\\nKullanım:\\n• /analyze AAPL\\n• veya sadece: NVDA\\n\\nÖrnek: /analyze TSLA`\n    }\n  }];\n}\n\nreturn [{\n  json: {\n    isValid: true,\n    ticker: ticker,\n    chatId: chatId,\n    firstName: firstName\n  }\n}];"
            },
            "name": "Parse Command",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                -832,
                304
            ],
            "id": "0c01b9be-6754-4f64-a36f-95ac2f57d1f9"
        },
        {
            "parameters": {
                "conditions": {
                    "options": {
                        "caseSensitive": true,
                        "leftValue": "",
                        "typeValidation": "strict",
                        "version": 1
                    },
                    "conditions": [
                        {
                            "leftValue": "={{ $json.isValid }}",
                            "rightValue": true,
                            "operator": {
                                "type": "boolean",
                                "operation": "equals"
                            },
                            "id": "84662242-a634-4fc2-91bd-c6c8ad7a5ca4"
                        }
                    ],
                    "combinator": "and"
                },
                "options": {}
            },
            "name": "IF Valid Command",
            "type": "n8n-nodes-base.if",
            "typeVersion": 2,
            "position": [
                -640,
                304
            ],
            "id": "c5407752-c414-4926-bbe1-e657a8d50c27"
        },
        {
            "parameters": {
                "chatId": "={{ $json.chatId }}",
                "text": "={{ $json.errorMessage }}",
                "additionalFields": {
                    "parse_mode": "Markdown"
                }
            },
            "name": "Send Error Message",
            "type": "n8n-nodes-base.telegram",
            "typeVersion": 1,
            "position": [
                -432,
                448
            ],
            "id": "4dd751c5-ec17-40f3-9577-869545b7e521",
            "credentials": {
                "telegramApi": {
                    "id": "3ocfCvvjIk4mgxda",
                    "name": "Telegram account"
                }
            }
        },
        {
            "parameters": {
                "chatId": "={{ $json.chatId }}",
                "text": "=⏳ *{{ $json.ticker }}* analiz ediliyor...\n\n17 AI agent + 4 LLM çalıştırılıyor.\nBatch 1/4 başlatılıyor...",
                "additionalFields": {
                    "parse_mode": "Markdown"
                }
            },
            "name": "Send Processing Message",
            "type": "n8n-nodes-base.telegram",
            "typeVersion": 1,
            "position": [
                -432,
                192
            ],
            "id": "b5d4c7e0-c8f2-4b6a-8c5e-3a2f9d8e7b6a",
            "credentials": {
                "telegramApi": {
                    "id": "3ocfCvvjIk4mgxda",
                    "name": "Telegram account"
                }
            }
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://ukgirrzwgmaatrrkkgis.supabase.co/functions/v1/analyze-aggregate",
                "authentication": "genericCredentialType",
                "genericAuthType": "httpHeaderAuth",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "apikey",
                            "value": "=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InVrZ2lycnp3Z21hYXRycmtrZ2lzIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjY0ODcwMjEsImV4cCI6MjA4MjA2MzAyMX0.ACFUKgsqeuAcFshlfHwhiiAfaABbVqiQlkSMbp2zOdo"
                        },
                        {
                            "name": "Authorization",
                            "value": "=Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InVrZ2lycnp3Z21hYXRycmtrZ2lzIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjY0ODcwMjEsImV4cCI6MjA4MjA2MzAyMX0.ACFUKgsqeuAcFshlfHwhiiAfaABbVqiQlkSMbp2zOdo"
                        }
                    ]
                },
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={\n  \"ticker\": \"{{ $node['Parse Command'].json.ticker }}\",\n  \"llm_provider\": \"gemini\",\n  \"agents\": [\"warren_buffett\", \"peter_lynch\", \"ben_graham\", \"charlie_munger\", \"michael_burry\"]\n}",
                "options": {
                    "timeout": 120000
                }
            },
            "name": "Batch 1 - Value Investors",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4,
            "position": [
                -176,
                192
            ],
            "id": "batch1-value-investors",
            "credentials": {
                "httpHeaderAuth": {
                    "id": "4su2l4bSjSuWKNs2",
                    "name": "Header Auth account"
                }
            }
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://ukgirrzwgmaatrrkkgis.supabase.co/functions/v1/analyze-aggregate",
                "authentication": "genericCredentialType",
                "genericAuthType": "httpHeaderAuth",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "apikey",
                            "value": "=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InVrZ2lycnp3Z21hYXRycmtrZ2lzIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjY0ODcwMjEsImV4cCI6MjA4MjA2MzAyMX0.ACFUKgsqeuAcFshlfHwhiiAfaABbVqiQlkSMbp2zOdo"
                        },
                        {
                            "name": "Authorization",
                            "value": "=Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InVrZ2lycnp3Z21hYXRycmtrZ2lzIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjY0ODcwMjEsImV4cCI6MjA4MjA2MzAyMX0.ACFUKgsqeuAcFshlfHwhiiAfaABbVqiQlkSMbp2zOdo"
                        }
                    ]
                },
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={\n  \"ticker\": \"{{ $node['Parse Command'].json.ticker }}\",\n  \"llm_provider\": \"gemini\",\n  \"agents\": [\"cathie_wood\", \"bill_ackman\", \"stanley_druckenmiller\", \"phil_fisher\"]\n}",
                "options": {
                    "timeout": 120000
                }
            },
            "name": "Batch 2 - Growth & Activist",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4,
            "position": [
                80,
                192
            ],
            "id": "batch2-growth-activist",
            "credentials": {
                "httpHeaderAuth": {
                    "id": "4su2l4bSjSuWKNs2",
                    "name": "Header Auth account"
                }
            }
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://ukgirrzwgmaatrrkkgis.supabase.co/functions/v1/analyze-aggregate",
                "authentication": "genericCredentialType",
                "genericAuthType": "httpHeaderAuth",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "apikey",
                            "value": "=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InVrZ2lycnp3Z21hYXRycmtrZ2lzIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjY0ODcwMjEsImV4cCI6MjA4MjA2MzAyMX0.ACFUKgsqeuAcFshlfHwhiiAfaABbVqiQlkSMbp2zOdo"
                        },
                        {
                            "name": "Authorization",
                            "value": "=Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InVrZ2lycnp3Z21hYXRycmtrZ2lzIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjY0ODcwMjEsImV4cCI6MjA4MjA2MzAyMX0.ACFUKgsqeuAcFshlfHwhiiAfaABbVqiQlkSMbp2zOdo"
                        }
                    ]
                },
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={\n  \"ticker\": \"{{ $node['Parse Command'].json.ticker }}\",\n  \"llm_provider\": \"gemini\",\n  \"agents\": [\"mohnish_pabrai\", \"rakesh_jhunjhunwala\", \"aswath_damodaran\", \"technical_analyst\"]\n}",
                "options": {
                    "timeout": 120000
                }
            },
            "name": "Batch 3 - Emerging & Technical",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4,
            "position": [
                336,
                192
            ],
            "id": "batch3-emerging-technical",
            "credentials": {
                "httpHeaderAuth": {
                    "id": "4su2l4bSjSuWKNs2",
                    "name": "Header Auth account"
                }
            }
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://ukgirrzwgmaatrrkkgis.supabase.co/functions/v1/analyze-aggregate",
                "authentication": "genericCredentialType",
                "genericAuthType": "httpHeaderAuth",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "apikey",
                            "value": "=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InVrZ2lycnp3Z21hYXRycmtrZ2lzIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjY0ODcwMjEsImV4cCI6MjA4MjA2MzAyMX0.ACFUKgsqeuAcFshlfHwhiiAfaABbVqiQlkSMbp2zOdo"
                        },
                        {
                            "name": "Authorization",
                            "value": "=Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InVrZ2lycnp3Z21hYXRycmtrZ2lzIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjY0ODcwMjEsImV4cCI6MjA4MjA2MzAyMX0.ACFUKgsqeuAcFshlfHwhiiAfaABbVqiQlkSMbp2zOdo"
                        }
                    ]
                },
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={\n  \"ticker\": \"{{ $node['Parse Command'].json.ticker }}\",\n  \"llm_provider\": \"gemini\",\n  \"agents\": [\"fundamentals_analyst\", \"growth_analyst\", \"news_sentiment_analyst\", \"sentiment_analyst\"]\n}",
                "options": {
                    "timeout": 120000
                }
            },
            "name": "Batch 4 - Analysts",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4,
            "position": [
                592,
                192
            ],
            "id": "batch4-analysts",
            "credentials": {
                "httpHeaderAuth": {
                    "id": "4su2l4bSjSuWKNs2",
                    "name": "Header Auth account"
                }
            }
        },
        {
            "parameters": {
                "jsCode": "// Merge all batch results\nconst batch1 = $('Batch 1 - Value Investors').first().json;\nconst batch2 = $('Batch 2 - Growth & Activist').first().json;\nconst batch3 = $('Batch 3 - Emerging & Technical').first().json;\nconst batch4 = $('Batch 4 - Analysts').first().json;\n\nconst ticker = batch1.ticker;\nconst chatId = $node['Parse Command'].json.chatId;\n\n// Combine all agent results\nconst allResults = [\n  ...(batch1.agent_results || []),\n  ...(batch2.agent_results || []),\n  ...(batch3.agent_results || []),\n  ...(batch4.agent_results || [])\n];\n\n// Calculate aggregated signal\nlet bullish = 0, bearish = 0, neutral = 0;\nlet formulaTotal = 0, llmTotal = 0, llmCount = 0;\n\nallResults.forEach(agent => {\n  const sig = (agent.signal || '').toUpperCase();\n  if (sig === 'BULLISH') bullish++;\n  else if (sig === 'BEARISH') bearish++;\n  else neutral++;\n  \n  formulaTotal += agent.confidence || 0;\n  \n  const llmResults = agent.analysis_data?.llm_results || {};\n  Object.values(llmResults).forEach(r => {\n    if (r && r.confidence > 0 && !r.reasoning?.includes('Error')) {\n      llmTotal += r.confidence;\n      llmCount++;\n    }\n  });\n});\n\nconst formulaAvg = allResults.length > 0 ? Math.round(formulaTotal / allResults.length) : 0;\nconst llmAvg = llmCount > 0 ? Math.round(llmTotal / llmCount) : 0;\nconst combinedAvg = llmCount > 0 ? Math.round((formulaAvg + llmAvg) / 2) : formulaAvg;\n\nlet aggregatedSignal = 'NEUTRAL';\nif (bullish > bearish && bullish > neutral) aggregatedSignal = 'BULLISH';\nelse if (bearish > bullish && bearish > neutral) aggregatedSignal = 'BEARISH';\n\nconst signalEmoji = aggregatedSignal === 'BULLISH' ? '🟢' : aggregatedSignal === 'BEARISH' ? '🔴' : '⚪️';\n\n// Agent breakdown with formula + LLM results\nconst agentLines = allResults.map(agent => {\n  const formulaEmoji = agent.signal === 'BULLISH' ? '🟢' : agent.signal === 'BEARISH' ? '🔴' : '⚪️';\n  \n  const llmResults = agent.analysis_data?.llm_results || {};\n  let llmLine = '';\n  \n  if (Object.keys(llmResults).length > 0) {\n    const llmParts = [];\n    Object.entries(llmResults).forEach(([provider, result]) => {\n      if (result && result.confidence > 0 && !result.reasoning?.includes('Error')) {\n        const displayName = result.modelName || provider;\n        llmParts.push(`${displayName}:${result.signal}(${result.confidence}%)`);\n      }\n    });\n    llmLine = llmParts.length > 0 ? `\\n   LLMs: ${llmParts.join(' | ')}` : '';\n  }\n  \n  return `${formulaEmoji} ${agent.agent_display_name}: Formula ${agent.signal} (${agent.confidence}%)${llmLine}`;\n}).join('\\n');\n\nconst message = `\n${signalEmoji} *${ticker} - ${aggregatedSignal}*\n\n📊 *Özet:*\n• Sinyal: ${aggregatedSignal}\n• 🎯 Kombine Güven: ${combinedAvg}%\n• 🧮 Formül Güven: ${formulaAvg}%\n• 🤖 LLM Güven: ${llmAvg > 0 ? llmAvg + '%' : 'N/A'}\n• 🟢 Bullish: ${bullish}\n• 🔴 Bearish: ${bearish}\n• ⚪️ Neutral: ${neutral}\n\n👥 *Agent Detayları:*\n${agentLines}\n\n🕐 ${new Date().toLocaleString('tr-TR')}\n`;\n\nreturn [{\n  json: {\n    chatId: chatId,\n    message: message,\n    ticker: ticker,\n    aggregated_signal: aggregatedSignal,\n    formula_confidence: formulaAvg,\n    llm_confidence: llmAvg,\n    combined_confidence: combinedAvg,\n    bullish_count: bullish,\n    bearish_count: bearish,\n    neutral_count: neutral,\n    agent_results: allResults\n  }\n}];"
            },
            "name": "Merge Results",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                848,
                192
            ],
            "id": "merge-results"
        },
        {
            "parameters": {
                "chatId": "={{ $json.chatId }}",
                "text": "={{ $json.message }}",
                "additionalFields": {
                    "parse_mode": "Markdown"
                }
            },
            "name": "Send Result",
            "type": "n8n-nodes-base.telegram",
            "typeVersion": 1,
            "position": [
                1104,
                192
            ],
            "id": "send-result",
            "credentials": {
                "telegramApi": {
                    "id": "3ocfCvvjIk4mgxda",
                    "name": "Telegram account"
                }
            }
        },
        {
            "parameters": {
                "tableId": "notifications",
                "fieldsUi": {
                    "fieldValues": [
                        {
                            "fieldId": "ticker",
                            "fieldValue": "={{ $json.ticker }}"
                        },
                        {
                            "fieldId": "title",
                            "fieldValue": "={{ $json.aggregated_signal }} Signal (Manual)"
                        },
                        {
                            "fieldId": "message",
                            "fieldValue": "={{ $json.message }}"
                        },
                        {
                            "fieldId": "type",
                            "fieldValue": "SIGNAL"
                        }
                    ]
                }
            },
            "name": "Log to Database",
            "type": "n8n-nodes-base.supabase",
            "typeVersion": 1,
            "position": [
                1104,
                352
            ],
            "id": "log-to-database",
            "credentials": {
                "supabaseApi": {
                    "id": "W2X8BWyusvwAEBsB",
                    "name": "Supabase account"
                }
            }
        }
    ],
    "pinData": {},
    "connections": {
        "Telegram Trigger": {
            "main": [
                [
                    {
                        "node": "Parse Command",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Parse Command": {
            "main": [
                [
                    {
                        "node": "IF Valid Command",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "IF Valid Command": {
            "main": [
                [
                    {
                        "node": "Send Processing Message",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Send Error Message",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Send Processing Message": {
            "main": [
                [
                    {
                        "node": "Batch 1 - Value Investors",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Batch 1 - Value Investors": {
            "main": [
                [
                    {
                        "node": "Batch 2 - Growth & Activist",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Batch 2 - Growth & Activist": {
            "main": [
                [
                    {
                        "node": "Batch 3 - Emerging & Technical",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Batch 3 - Emerging & Technical": {
            "main": [
                [
                    {
                        "node": "Batch 4 - Analysts",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Batch 4 - Analysts": {
            "main": [
                [
                    {
                        "node": "Merge Results",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Merge Results": {
            "main": [
                [
                    {
                        "node": "Send Result",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "Log to Database",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "active": false,
    "settings": {
        "executionOrder": "v1"
    },
    "versionId": "batched-v1",
    "meta": {
        "instanceId": "ai-hedge-fund"
    },
    "id": "strong-signal-alert-batched",
    "tags": []
}