n8n-workflows/2-strong-signal-alert.json
{
    "name": "AI Hedge Fund - Strong Signal Alert (Telegram Bot)",
    "nodes": [
        {
            "parameters": {
                "updates": [
                    "message"
                ],
                "additionalFields": {}
            },
            "name": "Telegram Trigger",
            "type": "n8n-nodes-base.telegramTrigger",
            "typeVersion": 1,
            "position": [
                -1040,
                304
            ],
            "webhookId": "telegram-signal-trigger",
            "id": "bf3ba2b6-a533-4367-b7fd-4a941e210aac",
            "credentials": {
                "telegramApi": {
                    "id": "3ocfCvvjIk4mgxda",
                    "name": "Telegram account"
                }
            }
        },
        {
            "parameters": {
                "jsCode": "// Parse Telegram message to extract ticker\nconst message = $json.message?.text || '';\nconst chatId = $json.message?.chat?.id;\nconst firstName = $json.message?.from?.first_name || 'User';\n\n// Check if it's an analyze command\nconst analyzeMatch = message.match(/^\\/analyze\\s+([A-Za-z]+)/i);\nconst tickerMatch = message.match(/^([A-Za-z]{1,5})$/i);\n\nlet ticker = null;\nlet isValidCommand = false;\n\nif (analyzeMatch) {\n  ticker = analyzeMatch[1].toUpperCase();\n  isValidCommand = true;\n} else if (tickerMatch) {\n  ticker = tickerMatch[1].toUpperCase();\n  isValidCommand = true;\n}\n\nif (!isValidCommand || !ticker) {\n  return [{\n    json: {\n      isValid: false,\n      chatId: chatId,\n      errorMessage: `Merhaba ${firstName}! 👋\\n\\nKullanım:\\n• /analyze AAPL\\n• veya sadece: NVDA\\n\\nÖrnek: /analyze TSLA`\n    }\n  }];\n}\n\nreturn [{\n  json: {\n    isValid: true,\n    ticker: ticker,\n    chatId: chatId,\n    firstName: firstName\n  }\n}];"
            },
            "name": "Parse Command",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                -832,
                304
            ],
            "id": "0c01b9be-6754-4f64-a36f-95ac2f57d1f9"
        },
        {
            "parameters": {
                "conditions": {
                    "options": {
                        "caseSensitive": true,
                        "leftValue": "",
                        "typeValidation": "strict",
                        "version": 1
                    },
                    "conditions": [
                        {
                            "leftValue": "={{ $json.isValid }}",
                            "rightValue": true,
                            "operator": {
                                "type": "boolean",
                                "operation": "equals"
                            },
                            "id": "84662242-a634-4fc2-91bd-c6c8ad7a5ca4"
                        }
                    ],
                    "combinator": "and"
                },
                "options": {}
            },
            "name": "IF Valid Command",
            "type": "n8n-nodes-base.if",
            "typeVersion": 2,
            "position": [
                -640,
                304
            ],
            "id": "c5407752-c414-4926-bbe1-e657a8d50c27"
        },
        {
            "parameters": {
                "chatId": "={{ $json.chatId }}",
                "text": "={{ $json.errorMessage }}",
                "additionalFields": {
                    "parse_mode": "Markdown"
                }
            },
            "name": "Send Error Message",
            "type": "n8n-nodes-base.telegram",
            "typeVersion": 1,
            "position": [
                -432,
                448
            ],
            "id": "4dd751c5-ec17-40f3-9577-869545b7e521",
            "webhookId": "9b2a83c7-50b8-4d80-8980-45d1ae60d3a6",
            "credentials": {
                "telegramApi": {
                    "id": "3ocfCvvjIk4mgxda",
                    "name": "Telegram account"
                }
            }
        },
        {
            "parameters": {
                "chatId": "={{ $json.chatId }}",
                "text": "=⏳ *{{ $json.ticker }}* analiz ediliyor...\n\n17 AI yatırımcı agent çalıştırılıyor, bu 30-60 saniye sürebilir.",
                "additionalFields": {
                    "parse_mode": "Markdown"
                }
            },
            "name": "Send Processing Message",
            "type": "n8n-nodes-base.telegram",
            "typeVersion": 1,
            "position": [
                -432,
                192
            ],
            "id": "f4a6967f-d2f1-4624-a9aa-936381da3fe4",
            "webhookId": "8cd3e6d2-d424-4d5c-b58e-0cab594cfc54",
            "credentials": {
                "telegramApi": {
                    "id": "3ocfCvvjIk4mgxda",
                    "name": "Telegram account"
                }
            }
        },
        {
            "parameters": {
                "method": "POST",
                "url": "=https://ukgirrzwgmaatrrkkgis.supabase.co/functions/v1/analyze-aggregate",
                "authentication": "genericCredentialType",
                "genericAuthType": "httpHeaderAuth",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "apikey",
                            "value": "=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InVrZ2lycnp3Z21hYXRycmtrZ2lzIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjY0ODcwMjEsImV4cCI6MjA4MjA2MzAyMX0.ACFUKgsqeuAcFshlfHwhiiAfaABbVqiQlkSMbp2zOdo"
                        },
                        {
                            "name": "Authorization",
                            "value": "=Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InVrZ2lycnp3Z21hYXRycmtrZ2lzIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjY0ODcwMjEsImV4cCI6MjA4MjA2MzAyMX0.ACFUKgsqeuAcFshlfHwhiiAfaABbVqiQlkSMbp2zOdo"
                        }
                    ]
                },
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={\n  \"ticker\": \"{{ $node['Parse Command'].json.ticker }}\",\n  \"llm_provider\": \"gemini\",\n  \"agents\": [\n    \"warren_buffett\",\n    \"peter_lynch\",\n    \"ben_graham\",\n    \"charlie_munger\",\n    \"michael_burry\",\n    \"cathie_wood\",\n    \"bill_ackman\",\n    \"stanley_druckenmiller\",\n    \"phil_fisher\",\n    \"mohnish_pabrai\",\n    \"rakesh_jhunjhunwala\",\n    \"aswath_damodaran\",\n    \"technical_analyst\",\n    \"fundamentals_analyst\",\n    \"growth_analyst\",\n    \"news_sentiment_analyst\",\n    \"sentiment_analyst\"\n  ]\n}",
                "options": {
                    "timeout": 120000
                }
            },
            "name": "Call Supabase Aggregate",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4,
            "position": [
                -240,
                192
            ],
            "id": "6f7f5630-b1ed-450b-97d9-da0704745417",
            "credentials": {
                "httpHeaderAuth": {
                    "id": "4su2l4bSjSuWKNs2",
                    "name": "Header Auth account"
                }
            }
        },
        {
            "parameters": {
                "jsCode": "// Handle array response and format for Telegram\nlet data = $json;\n\n// If response is an array, get first item\nif (Array.isArray(data)) {\n  data = data[0];\n}\n\nconst chatId = $node['Parse Command'].json.chatId;\nconst ticker = data.ticker;\n\nconst signalEmoji = data.aggregated_signal === 'BULLISH' ? '🟢' : data.aggregated_signal === 'BEARISH' ? '🔴' : '⚪️';\n\n// Agent breakdown with formula + LLM results\nconst agentLines = (data.agent_results || []).map(agent => {\n  const formulaEmoji = agent.signal === 'BULLISH' ? '🟢' : agent.signal === 'BEARISH' ? '🔴' : '⚪️';\n  \n  // Get LLM results if available\n  const llmResults = agent.analysis_data?.llm_results || {};\n  let llmLine = '';\n  \n  if (Object.keys(llmResults).length > 0) {\n    const llmParts = [];\n    if (llmResults.gemini) llmParts.push(`Gemini:${llmResults.gemini.signal}(${llmResults.gemini.confidence}%)`);\n    if (llmResults.azure && !llmResults.azure.reasoning?.includes('Error')) llmParts.push(`Azure:${llmResults.azure.signal}(${llmResults.azure.confidence}%)`);\n    if (llmResults.zai && !llmResults.zai.reasoning?.includes('Error')) llmParts.push(`Z.ai:${llmResults.zai.signal}(${llmResults.zai.confidence}%)`);\n    if (llmResults.groq && !llmResults.groq.reasoning?.includes('Error')) llmParts.push(`Groq:${llmResults.groq.signal}(${llmResults.groq.confidence}%)`);\n    llmLine = llmParts.length > 0 ? `\\n   LLMs: ${llmParts.join(' | ')}` : '';\n  }\n  \n  return `${formulaEmoji} ${agent.agent_display_name}: Formula ${agent.signal} (${agent.confidence}%)${llmLine}`;\n}).join('\\n');\n\n// Build message\nconst message = `\n${signalEmoji} *${ticker} - ${data.aggregated_signal}*\n\n📊 *Özet:*\n• Sinyal: ${data.aggregated_signal}\n• Güven: ${data.aggregated_confidence}%\n• 🟢 Bullish: ${data.bullish_count}\n• 🔴 Bearish: ${data.bearish_count}\n• ⚪️ Neutral: ${data.neutral_count}\n\n👥 *Agent Detayları:*\n${agentLines}\n\n🕐 ${new Date().toLocaleString('tr-TR')}\n`;\n\nreturn [{\n  json: {\n    chatId: chatId,\n    message: message,\n    ...data\n  }\n}];"
            },
            "name": "Format Result",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                -32,
                192
            ],
            "id": "c71c87c4-bc70-4ecc-96fb-d8cdb52074c2"
        },
        {
            "parameters": {
                "chatId": "={{ $json.chatId }}",
                "text": "={{ $json.message }}",
                "additionalFields": {
                    "parse_mode": "Markdown"
                }
            },
            "name": "Send Result",
            "type": "n8n-nodes-base.telegram",
            "typeVersion": 1,
            "position": [
                176,
                192
            ],
            "id": "449f61bb-f0b4-4bc2-a2d8-e03e4f14cf15",
            "webhookId": "0299fe5b-835f-436f-855f-36917c66e994",
            "credentials": {
                "telegramApi": {
                    "id": "3ocfCvvjIk4mgxda",
                    "name": "Telegram account"
                }
            }
        },
        {
            "parameters": {
                "tableId": "notifications",
                "fieldsUi": {
                    "fieldValues": [
                        {
                            "fieldId": "ticker",
                            "fieldValue": "={{ $json.ticker }}"
                        },
                        {
                            "fieldId": "title",
                            "fieldValue": "={{ $json.aggregated_signal }} Signal (Manual)"
                        },
                        {
                            "fieldId": "message",
                            "fieldValue": "={{ $json.message }}"
                        },
                        {
                            "fieldId": "type",
                            "fieldValue": "SIGNAL"
                        }
                    ]
                }
            },
            "name": "Log to Database",
            "type": "n8n-nodes-base.supabase",
            "typeVersion": 1,
            "position": [
                176,
                352
            ],
            "id": "3f20ba6c-0f45-4741-a98d-1f6070e6cd03",
            "credentials": {
                "supabaseApi": {
                    "id": "W2X8BWyusvwAEBsB",
                    "name": "Supabase account"
                }
            }
        }
    ],
    "pinData": {},
    "connections": {
        "Telegram Trigger": {
            "main": [
                [
                    {
                        "node": "Parse Command",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Parse Command": {
            "main": [
                [
                    {
                        "node": "IF Valid Command",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "IF Valid Command": {
            "main": [
                [
                    {
                        "node": "Send Processing Message",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Send Error Message",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Send Processing Message": {
            "main": [
                [
                    {
                        "node": "Call Supabase Aggregate",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Call Supabase Aggregate": {
            "main": [
                [
                    {
                        "node": "Format Result",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Format Result": {
            "main": [
                [
                    {
                        "node": "Send Result",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "Log to Database",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "active": true,
    "settings": {
        "executionOrder": "v1"
    },
    "versionId": "5a54d2e2-0b22-48fc-8cc8-cfa53d8afba1",
    "meta": {
        "instanceId": "a543e5018053c03df832d6ac73af6c1a33f61d9045f4d98453e98d306a4b77f2"
    },
    "id": "3v3Rtap7zEWdBbuY",
    "tags": []
}