n8n-workflows/2-strong-signal-alert.json
{
    "name": "AI Hedge Fund - Strong Signal Alert (6 Batches)",
    "nodes": [
        {
            "parameters": {
                "updates": [
                    "message"
                ],
                "additionalFields": {}
            },
            "name": "Telegram Trigger",
            "type": "n8n-nodes-base.telegramTrigger",
            "typeVersion": 1,
            "position": [
                -1200,
                304
            ],
            "webhookId": "telegram-signal-trigger",
            "id": "bf3ba2b6-a533-4367-b7fd-4a941e210aac",
            "credentials": {
                "telegramApi": {
                    "id": "3ocfCvvjIk4mgxda",
                    "name": "Telegram account"
                }
            }
        },
        {
            "parameters": {
                "jsCode": "const message = $json.message?.text || '';\nconst chatId = $json.message?.chat?.id;\nconst firstName = $json.message?.from?.first_name || 'User';\n\nconst analyzeMatch = message.match(/^\\/analyze\\s+([A-Za-z]+)/i);\nconst tickerMatch = message.match(/^([A-Za-z]{1,5})$/i);\n\nlet ticker = null;\nlet isValidCommand = false;\n\nif (analyzeMatch) {\n  ticker = analyzeMatch[1].toUpperCase();\n  isValidCommand = true;\n} else if (tickerMatch) {\n  ticker = tickerMatch[1].toUpperCase();\n  isValidCommand = true;\n}\n\nif (!isValidCommand || !ticker) {\n  return [{\n    json: {\n      isValid: false,\n      chatId: chatId,\n      errorMessage: `Merhaba ${firstName}! 👋\\n\\nKullanım:\\n• /analyze AAPL\\n• veya sadece: NVDA`\n    }\n  }];\n}\n\nreturn [{\n  json: {\n    isValid: true,\n    ticker: ticker,\n    chatId: chatId,\n    firstName: firstName\n  }\n}];"
            },
            "name": "Parse Command",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                -992,
                304
            ],
            "id": "parse-cmd"
        },
        {
            "parameters": {
                "conditions": {
                    "options": {
                        "caseSensitive": true,
                        "leftValue": "",
                        "typeValidation": "strict",
                        "version": 1
                    },
                    "conditions": [
                        {
                            "leftValue": "={{ $json.isValid }}",
                            "rightValue": true,
                            "operator": {
                                "type": "boolean",
                                "operation": "equals"
                            },
                            "id": "cond1"
                        }
                    ],
                    "combinator": "and"
                },
                "options": {}
            },
            "name": "IF Valid",
            "type": "n8n-nodes-base.if",
            "typeVersion": 2,
            "position": [
                -784,
                304
            ],
            "id": "if-valid"
        },
        {
            "parameters": {
                "chatId": "={{ $json.chatId }}",
                "text": "={{ $json.errorMessage }}",
                "additionalFields": {
                    "parse_mode": "Markdown"
                }
            },
            "name": "Send Error",
            "type": "n8n-nodes-base.telegram",
            "typeVersion": 1,
            "position": [
                -576,
                448
            ],
            "id": "send-error",
            "credentials": {
                "telegramApi": {
                    "id": "3ocfCvvjIk4mgxda",
                    "name": "Telegram account"
                }
            }
        },
        {
            "parameters": {
                "chatId": "={{ $json.chatId }}",
                "text": "=⏳ *{{ $json.ticker }}* analiz ediliyor...\n\n17 AI agent + 4 LLM çalıştırılıyor (6 batch).\nTahmini süre: 3-5 dakika",
                "additionalFields": {
                    "parse_mode": "Markdown"
                }
            },
            "name": "Send Processing",
            "type": "n8n-nodes-base.telegram",
            "typeVersion": 1,
            "position": [
                -576,
                192
            ],
            "id": "send-processing",
            "credentials": {
                "telegramApi": {
                    "id": "3ocfCvvjIk4mgxda",
                    "name": "Telegram account"
                }
            }
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://ukgirrzwgmaatrrkkgis.supabase.co/functions/v1/analyze-aggregate",
                "authentication": "genericCredentialType",
                "genericAuthType": "httpHeaderAuth",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "apikey",
                            "value": "=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InVrZ2lycnp3Z21hYXRycmtrZ2lzIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjY0ODcwMjEsImV4cCI6MjA4MjA2MzAyMX0.ACFUKgsqeuAcFshlfHwhiiAfaABbVqiQlkSMbp2zOdo"
                        },
                        {
                            "name": "Authorization",
                            "value": "=Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InVrZ2lycnp3Z21hYXRycmtrZ2lzIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjY0ODcwMjEsImV4cCI6MjA4MjA2MzAyMX0.ACFUKgsqeuAcFshlfHwhiiAfaABbVqiQlkSMbp2zOdo"
                        }
                    ]
                },
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={\n  \"ticker\": \"{{ $node['Parse Command'].json.ticker }}\",\n  \"agents\": [\"warren_buffett\", \"peter_lynch\", \"ben_graham\"]\n}",
                "options": {
                    "timeout": 120000
                }
            },
            "name": "Batch 1",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4,
            "position": [
                -320,
                192
            ],
            "id": "batch1",
            "credentials": {
                "httpHeaderAuth": {
                    "id": "4su2l4bSjSuWKNs2",
                    "name": "Header Auth account"
                }
            }
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://ukgirrzwgmaatrrkkgis.supabase.co/functions/v1/analyze-aggregate",
                "authentication": "genericCredentialType",
                "genericAuthType": "httpHeaderAuth",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "apikey",
                            "value": "=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InVrZ2lycnp3Z21hYXRycmtrZ2lzIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjY0ODcwMjEsImV4cCI6MjA4MjA2MzAyMX0.ACFUKgsqeuAcFshlfHwhiiAfaABbVqiQlkSMbp2zOdo"
                        },
                        {
                            "name": "Authorization",
                            "value": "=Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InVrZ2lycnp3Z21hYXRycmtrZ2lzIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjY0ODcwMjEsImV4cCI6MjA4MjA2MzAyMX0.ACFUKgsqeuAcFshlfHwhiiAfaABbVqiQlkSMbp2zOdo"
                        }
                    ]
                },
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={\n  \"ticker\": \"{{ $node['Parse Command'].json.ticker }}\",\n  \"agents\": [\"charlie_munger\", \"michael_burry\", \"cathie_wood\"]\n}",
                "options": {
                    "timeout": 120000
                }
            },
            "name": "Batch 2",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4,
            "position": [
                -64,
                192
            ],
            "id": "batch2",
            "credentials": {
                "httpHeaderAuth": {
                    "id": "4su2l4bSjSuWKNs2",
                    "name": "Header Auth account"
                }
            }
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://ukgirrzwgmaatrrkkgis.supabase.co/functions/v1/analyze-aggregate",
                "authentication": "genericCredentialType",
                "genericAuthType": "httpHeaderAuth",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "apikey",
                            "value": "=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InVrZ2lycnp3Z21hYXRycmtrZ2lzIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjY0ODcwMjEsImV4cCI6MjA4MjA2MzAyMX0.ACFUKgsqeuAcFshlfHwhiiAfaABbVqiQlkSMbp2zOdo"
                        },
                        {
                            "name": "Authorization",
                            "value": "=Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InVrZ2lycnp3Z21hYXRycmtrZ2lzIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjY0ODcwMjEsImV4cCI6MjA4MjA2MzAyMX0.ACFUKgsqeuAcFshlfHwhiiAfaABbVqiQlkSMbp2zOdo"
                        }
                    ]
                },
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={\n  \"ticker\": \"{{ $node['Parse Command'].json.ticker }}\",\n  \"agents\": [\"bill_ackman\", \"stanley_druckenmiller\", \"phil_fisher\"]\n}",
                "options": {
                    "timeout": 120000
                }
            },
            "name": "Batch 3",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4,
            "position": [
                192,
                192
            ],
            "id": "batch3",
            "credentials": {
                "httpHeaderAuth": {
                    "id": "4su2l4bSjSuWKNs2",
                    "name": "Header Auth account"
                }
            }
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://ukgirrzwgmaatrrkkgis.supabase.co/functions/v1/analyze-aggregate",
                "authentication": "genericCredentialType",
                "genericAuthType": "httpHeaderAuth",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "apikey",
                            "value": "=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InVrZ2lycnp3Z21hYXRycmtrZ2lzIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjY0ODcwMjEsImV4cCI6MjA4MjA2MzAyMX0.ACFUKgsqeuAcFshlfHwhiiAfaABbVqiQlkSMbp2zOdo"
                        },
                        {
                            "name": "Authorization",
                            "value": "=Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InVrZ2lycnp3Z21hYXRycmtrZ2lzIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjY0ODcwMjEsImV4cCI6MjA4MjA2MzAyMX0.ACFUKgsqeuAcFshlfHwhiiAfaABbVqiQlkSMbp2zOdo"
                        }
                    ]
                },
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={\n  \"ticker\": \"{{ $node['Parse Command'].json.ticker }}\",\n  \"agents\": [\"mohnish_pabrai\", \"rakesh_jhunjhunwala\", \"aswath_damodaran\"]\n}",
                "options": {
                    "timeout": 120000
                }
            },
            "name": "Batch 4",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4,
            "position": [
                448,
                192
            ],
            "id": "batch4",
            "credentials": {
                "httpHeaderAuth": {
                    "id": "4su2l4bSjSuWKNs2",
                    "name": "Header Auth account"
                }
            }
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://ukgirrzwgmaatrrkkgis.supabase.co/functions/v1/analyze-aggregate",
                "authentication": "genericCredentialType",
                "genericAuthType": "httpHeaderAuth",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "apikey",
                            "value": "=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InVrZ2lycnp3Z21hYXRycmtrZ2lzIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjY0ODcwMjEsImV4cCI6MjA4MjA2MzAyMX0.ACFUKgsqeuAcFshlfHwhiiAfaABbVqiQlkSMbp2zOdo"
                        },
                        {
                            "name": "Authorization",
                            "value": "=Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InVrZ2lycnp3Z21hYXRycmtrZ2lzIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjY0ODcwMjEsImV4cCI6MjA4MjA2MzAyMX0.ACFUKgsqeuAcFshlfHwhiiAfaABbVqiQlkSMbp2zOdo"
                        }
                    ]
                },
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={\n  \"ticker\": \"{{ $node['Parse Command'].json.ticker }}\",\n  \"agents\": [\"technical_analyst\", \"fundamentals_analyst\", \"growth_analyst\"]\n}",
                "options": {
                    "timeout": 120000
                }
            },
            "name": "Batch 5",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4,
            "position": [
                704,
                192
            ],
            "id": "batch5",
            "credentials": {
                "httpHeaderAuth": {
                    "id": "4su2l4bSjSuWKNs2",
                    "name": "Header Auth account"
                }
            }
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://ukgirrzwgmaatrrkkgis.supabase.co/functions/v1/analyze-aggregate",
                "authentication": "genericCredentialType",
                "genericAuthType": "httpHeaderAuth",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "apikey",
                            "value": "=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InVrZ2lycnp3Z21hYXRycmtrZ2lzIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjY0ODcwMjEsImV4cCI6MjA4MjA2MzAyMX0.ACFUKgsqeuAcFshlfHwhiiAfaABbVqiQlkSMbp2zOdo"
                        },
                        {
                            "name": "Authorization",
                            "value": "=Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InVrZ2lycnp3Z21hYXRycmtrZ2lzIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjY0ODcwMjEsImV4cCI6MjA4MjA2MzAyMX0.ACFUKgsqeuAcFshlfHwhiiAfaABbVqiQlkSMbp2zOdo"
                        }
                    ]
                },
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={\n  \"ticker\": \"{{ $node['Parse Command'].json.ticker }}\",\n  \"agents\": [\"news_sentiment_analyst\", \"sentiment_analyst\"]\n}",
                "options": {
                    "timeout": 120000
                }
            },
            "name": "Batch 6",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4,
            "position": [
                960,
                192
            ],
            "id": "batch6",
            "credentials": {
                "httpHeaderAuth": {
                    "id": "4su2l4bSjSuWKNs2",
                    "name": "Header Auth account"
                }
            }
        },
        {
            "parameters": {
                "jsCode": "// Merge all 6 batch results\nconst batches = [\n  $('Batch 1').first().json,\n  $('Batch 2').first().json,\n  $('Batch 3').first().json,\n  $('Batch 4').first().json,\n  $('Batch 5').first().json,\n  $('Batch 6').first().json\n];\n\nconst ticker = batches[0]?.ticker || 'UNKNOWN';\nconst chatId = $node['Parse Command'].json.chatId;\n\nconst allResults = batches.flatMap(b => b?.agent_results || []);\n\nlet bullish = 0, bearish = 0, neutral = 0;\nlet formulaTotal = 0, llmTotal = 0, llmCount = 0;\n\nallResults.forEach(agent => {\n  const sig = (agent.signal || '').toUpperCase();\n  if (sig === 'BULLISH') bullish++;\n  else if (sig === 'BEARISH') bearish++;\n  else neutral++;\n  \n  formulaTotal += agent.confidence || 0;\n  \n  const llmResults = agent.analysis_data?.llm_results || {};\n  Object.values(llmResults).forEach(r => {\n    if (r && r.confidence > 0 && !r.reasoning?.includes('Error')) {\n      llmTotal += r.confidence;\n      llmCount++;\n    }\n  });\n});\n\nconst formulaAvg = allResults.length > 0 ? Math.round(formulaTotal / allResults.length) : 0;\nconst llmAvg = llmCount > 0 ? Math.round(llmTotal / llmCount) : 0;\nconst combinedAvg = llmCount > 0 ? Math.round((formulaAvg + llmAvg) / 2) : formulaAvg;\n\nlet aggregatedSignal = 'NEUTRAL';\nif (bullish > bearish && bullish > neutral) aggregatedSignal = 'BULLISH';\nelse if (bearish > bullish && bearish > neutral) aggregatedSignal = 'BEARISH';\n\nconst signalEmoji = aggregatedSignal === 'BULLISH' ? '🟢' : aggregatedSignal === 'BEARISH' ? '🔴' : '⚪️';\n\nconst agentLines = allResults.map(agent => {\n  const e = agent.signal === 'BULLISH' ? '🟢' : agent.signal === 'BEARISH' ? '🔴' : '⚪️';\n  const llmResults = agent.analysis_data?.llm_results || {};\n  let llmLine = '';\n  if (Object.keys(llmResults).length > 0) {\n    const llmParts = [];\n    Object.entries(llmResults).forEach(([p, r]) => {\n      if (r && r.confidence > 0 && !r.reasoning?.includes('Error')) {\n        llmParts.push(`${r.modelName || p}:${r.signal}(${r.confidence}%)`);\n      }\n    });\n    llmLine = llmParts.length > 0 ? `\\n   ${llmParts.join(' | ')}` : '';\n  }\n  return `${e} ${agent.agent_display_name}: ${agent.signal} (${agent.confidence}%)${llmLine}`;\n}).join('\\n');\n\nconst msg = `\n${signalEmoji} *${ticker} - ${aggregatedSignal}*\n\n📊 *Özet:*\n• 🎯 Kombine: ${combinedAvg}%\n• 🧮 Formül: ${formulaAvg}%\n• 🤖 LLM: ${llmAvg > 0 ? llmAvg + '%' : 'N/A'}\n• 🟢 Bullish: ${bullish} | 🔴 Bearish: ${bearish} | ⚪️ Neutral: ${neutral}\n\n👥 *Agents (${allResults.length}):*\n${agentLines}\n\n🕐 ${new Date().toLocaleString('tr-TR')}\n`;\n\nreturn [{ json: { chatId, message: msg, ticker, aggregated_signal: aggregatedSignal, combined_confidence: combinedAvg, bullish_count: bullish, bearish_count: bearish, neutral_count: neutral } }];"
            },
            "name": "Merge Results",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                1216,
                192
            ],
            "id": "merge"
        },
        {
            "parameters": {
                "chatId": "={{ $json.chatId }}",
                "text": "={{ $json.message }}",
                "additionalFields": {
                    "parse_mode": "Markdown"
                }
            },
            "name": "Send Result",
            "type": "n8n-nodes-base.telegram",
            "typeVersion": 1,
            "position": [
                1472,
                192
            ],
            "id": "send-result",
            "credentials": {
                "telegramApi": {
                    "id": "3ocfCvvjIk4mgxda",
                    "name": "Telegram account"
                }
            }
        }
    ],
    "pinData": {},
    "connections": {
        "Telegram Trigger": {
            "main": [
                [
                    {
                        "node": "Parse Command",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Parse Command": {
            "main": [
                [
                    {
                        "node": "IF Valid",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "IF Valid": {
            "main": [
                [
                    {
                        "node": "Send Processing",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Send Error",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Send Processing": {
            "main": [
                [
                    {
                        "node": "Batch 1",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Batch 1": {
            "main": [
                [
                    {
                        "node": "Batch 2",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Batch 2": {
            "main": [
                [
                    {
                        "node": "Batch 3",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Batch 3": {
            "main": [
                [
                    {
                        "node": "Batch 4",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Batch 4": {
            "main": [
                [
                    {
                        "node": "Batch 5",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Batch 5": {
            "main": [
                [
                    {
                        "node": "Batch 6",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Batch 6": {
            "main": [
                [
                    {
                        "node": "Merge Results",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Merge Results": {
            "main": [
                [
                    {
                        "node": "Send Result",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "active": false,
    "settings": {
        "executionOrder": "v1"
    },
    "versionId": "6-batches-v1",
    "meta": {
        "instanceId": "ai-hedge-fund"
    },
    "id": "strong-signal-alert-6batches",
    "tags": []
}