n8n-workflows/4-google-sheets-watchlist-sync.json
{
    "name": "Google Sheets Watchlist Sync",
    "nodes": [
        {
            "parameters": {
                "rule": {
                    "interval": [
                        {
                            "field": "cronExpression",
                            "expression": "30 8 * * 1-5"
                        }
                    ]
                }
            },
            "name": "Cron Trigger (Weekdays 08:30)",
            "type": "n8n-nodes-base.scheduleTrigger",
            "typeVersion": 1,
            "position": [
                -112,
                -80
            ],
            "id": "85c066cb-76f8-4a5d-b3bd-a0a18bd8a62d"
        },
        {
            "parameters": {
                "documentId": {
                    "__rl": true,
                    "value": "1he6WiUvXITRxD3_Ux7HtquVN6qpCYP_ItmjENZ55aCg",
                    "mode": "list",
                    "cachedResultName": "Watchlist",
                    "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1he6WiUvXITRxD3_Ux7HtquVN6qpCYP_ItmjENZ55aCg/edit?usp=drivesdk"
                },
                "sheetName": {
                    "__rl": true,
                    "value": "gid=0",
                    "mode": "list",
                    "cachedResultName": "Sayfa1",
                    "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1he6WiUvXITRxD3_Ux7HtquVN6qpCYP_ItmjENZ55aCg/edit#gid=0"
                },
                "options": {}
            },
            "name": "Read Google Sheets Watchlist",
            "type": "n8n-nodes-base.googleSheets",
            "typeVersion": 4,
            "position": [
                96,
                -80
            ],
            "id": "104f3da3-fc97-422a-a6e1-c7e5c9062dbd",
            "credentials": {
                "googleSheetsOAuth2Api": {
                    "id": "n2ij8lRtAAVjcADB",
                    "name": "Google Sheets account"
                }
            }
        },
        {
            "parameters": {
                "jsCode": "// Transform Google Sheets data\nconst items = $input.all();\nconst tickers = [];\n\nfor (const item of items) {\n  const row = item.json;\n  // Assuming column A = ticker, column B = alert_enabled\n  if (row[0] && row[0].trim()) {\n    tickers.push({\n      ticker: row[0].trim().toUpperCase(),\n      alert_enabled: row[1] ? row[1].toLowerCase() === 'true' : true\n    });\n  }\n}\n\nreturn tickers.map(t => ({ json: t }));"
            },
            "name": "Transform Tickers",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                288,
                -80
            ],
            "id": "0c18a88d-5355-413d-8275-83cedd881c27"
        },
        {
            "parameters": {
                "tableId": "watchlists",
                "fieldsUi": {
                    "fieldValues": [
                        {
                            "fieldId": "ticker",
                            "fieldValue": "={{ $json.ticker }}"
                        },
                        {
                            "fieldId": "alert_enabled",
                            "fieldValue": "={{ $json.alert_enabled }}"
                        }
                    ]
                }
            },
            "name": "Upsert to Supabase Watchlist",
            "type": "n8n-nodes-base.supabase",
            "typeVersion": 1,
            "position": [
                496,
                -80
            ],
            "id": "5622c443-2cd6-466b-a081-f4a03642499d",
            "credentials": {
                "supabaseApi": {
                    "id": "W2X8BWyusvwAEBsB",
                    "name": "Supabase account"
                }
            }
        },
        {
            "parameters": {
                "chatId": "-4820408060",
                "text": "=✅ *Watchlist Senkronize Edildi!*\n\n📊 Toplam ticker güncellendi.\n🕐 {{ $now.format('dd/MM/yyyy HH:mm') }}",
                "additionalFields": {
                    "parse_mode": "Markdown"
                }
            },
            "name": "Notify Telegram (Success)",
            "type": "n8n-nodes-base.telegram",
            "typeVersion": 1,
            "position": [
                688,
                -80
            ],
            "id": "e02805a5-5688-40a3-b72c-fa081044ca44",
            "webhookId": "67652fcc-b2ec-4171-8070-4b576f818f3f",
            "credentials": {
                "telegramApi": {
                    "id": "3ocfCvvjIk4mgxda",
                    "name": "Telegram account"
                }
            }
        }
    ],
    "pinData": {},
    "connections": {
        "Cron Trigger (Weekdays 08:30)": {
            "main": [
                [
                    {
                        "node": "Read Google Sheets Watchlist",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Read Google Sheets Watchlist": {
            "main": [
                [
                    {
                        "node": "Transform Tickers",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Transform Tickers": {
            "main": [
                [
                    {
                        "node": "Upsert to Supabase Watchlist",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Upsert to Supabase Watchlist": {
            "main": [
                [
                    {
                        "node": "Notify Telegram (Success)",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "active": true,
    "settings": {
        "executionOrder": "v1"
    },
    "versionId": "bea9604d-2be8-4376-a7a6-8ae2a4ae7cff",
    "meta": {
        "templateCredsSetupCompleted": true,
        "instanceId": "a543e5018053c03df832d6ac73af6c1a33f61d9045f4d98453e98d306a4b77f2"
    },
    "id": "fJUqCuPhCtFAfTuK",
    "tags": []
}