n8n-workflows/6-daily-portfolio-analysis.json
{
    "name": "Daily Portfolio Analysis (Single Workflow)",
    "nodes": [
        {
            "parameters": {
                "rule": {
                    "interval": [
                        {
                            "field": "cronExpression",
                            "expression": "0 16 * * 1-5"
                        }
                    ]
                }
            },
            "name": "Cron (16:00)",
            "type": "n8n-nodes-base.scheduleTrigger",
            "typeVersion": 1,
            "position": [
                144,
                32
            ],
            "id": "6ca63d80-d2f4-4d32-adfa-854992a5a06f"
        },
        {
            "parameters": {
                "url": "https://drive.google.com/uc?export=download&id=1SpdyYhBaZB6ZGRA_bZQcqKa_X5YwWzCK",
                "options": {
                    "response": {
                        "response": {
                            "responseFormat": "text"
                        }
                    },
                    "timeout": 30000
                }
            },
            "name": "Download CSV",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4,
            "position": [
                352,
                32
            ],
            "id": "e917eb21-9b84-4792-9ccf-36cabbf6c312"
        },
        {
            "parameters": {
                "jsCode": "const csvText = $input.first().json.data || $input.first().json.body || String($input.first().json);\nconst lines = csvText.split('\\n').filter(line => line.trim());\nif (lines.length < 2) throw new Error('CSV is empty');\nconst headers = lines[0].split(',').map(h => h.replace(/\"/g, '').trim());\nconst rows = [];\nfor (let i = 1; i < lines.length; i++) {\n  const values = [];\n  let current = '', inQuotes = false;\n  for (const char of lines[i]) {\n    if (char === '\"') inQuotes = !inQuotes;\n    else if (char === ',' && !inQuotes) { values.push(current.trim()); current = ''; }\n    else current += char;\n  }\n  values.push(current.trim());\n  const row = {};\n  headers.forEach((h, idx) => { row[h] = values[idx] || ''; });\n  rows.push({ json: row });\n}\nreturn rows;"
            },
            "name": "Parse CSV",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                544,
                32
            ],
            "id": "8898bb99-c96a-4ef1-abd9-b19051255228"
        },
        {
            "parameters": {
                "jsCode": "const items = $input.all();\nconst positions = {};\nfor (const item of items) {\n  const row = item.json;\n  const way = row.Way || '';\n  const baseType = row['Base type'] || '';\n  if (!way || way === 'Way' || baseType !== 'STOCK') continue;\n  if (way !== 'BUY' && way !== 'SELL') continue;\n  const baseCurrency = row['Base currency (name)'] || '';\n  const tickerMatch = baseCurrency.match(/^([A-Z0-9.]+)\\s*\\(/);\n  if (!tickerMatch) continue;\n  const ticker = tickerMatch[1].replace('.MC', '');\n  const companyName = baseCurrency.match(/\\(([^)]+)\\)/)?.[1] || ticker;\n  const amount = parseFloat(row['Base amount']) || 0;\n  const quoteAmount = parseFloat(row['Quote amount']) || 0;\n  if (!positions[ticker]) positions[ticker] = { ticker, company_name: companyName, total_shares: 0, total_cost: 0 };\n  if (way === 'BUY') { positions[ticker].total_shares += amount; positions[ticker].total_cost += quoteAmount; }\n  else if (way === 'SELL') {\n    positions[ticker].total_shares -= amount;\n    if (positions[ticker].total_shares > 0) positions[ticker].total_cost *= positions[ticker].total_shares / (positions[ticker].total_shares + amount);\n    else positions[ticker].total_cost = 0;\n  }\n}\nconst active = Object.values(positions).filter(p => p.total_shares > 0.0001).map(p => ({\n  ticker: p.ticker, company_name: p.company_name,\n  shares: Math.round(p.total_shares * 1000000) / 1000000,\n  total_cost: Math.round(Math.abs(p.total_cost) * 100) / 100,\n  avg_cost: Math.round((p.total_cost / p.total_shares) * 100) / 100\n}));\n// Clear static data at start\nconst staticData = $getWorkflowStaticData('global');\nstaticData.results = [];\nreturn active.map(p => ({ json: p }));"
            },
            "name": "Aggregate Positions",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                752,
                32
            ],
            "id": "b09c291a-eafb-48ff-a484-9b6106a35e39"
        },
        {
            "parameters": {
                "options": {}
            },
            "name": "Loop",
            "type": "n8n-nodes-base.splitInBatches",
            "typeVersion": 3,
            "position": [
                912,
                -96
            ],
            "id": "41bec95c-ec7b-475b-bf80-177e3126dd0e"
        },
        {
            "parameters": {
                "url": "=https://query1.finance.yahoo.com/v8/finance/chart/{{ $json.ticker }}?interval=1d&range=5d",
                "options": {
                    "timeout": 15000
                }
            },
            "name": "Yahoo Price",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4,
            "position": [
                1152,
                32
            ],
            "id": "ade8b9ee-dec8-4054-9ce8-b08444c8ce1f"
        },
        {
            "parameters": {
                "jsCode": "const yahoo = $('Yahoo Price').first().json;\nconst h = $('Loop').first().json;\ntry {\n  const meta = yahoo.chart?.result?.[0]?.meta || {};\n  const price = meta.regularMarketPrice || 0;\n  const prev = meta.chartPreviousClose || price;\n  const value = h.shares * price;\n  const pl = value - h.total_cost;\n  const plPct = h.total_cost > 0 ? (pl / h.total_cost) * 100 : 0;\n  const dailyPL = h.shares * (price - prev);\n  return [{ json: { ticker: h.ticker, company_name: h.company_name, shares: h.shares, avg_cost: h.avg_cost, total_cost: h.total_cost, current_price: Math.round(price*100)/100, current_value: Math.round(value*100)/100, unrealized_pl: Math.round(pl*100)/100, unrealized_pl_pct: Math.round(plPct*100)/100, daily_pl: Math.round(dailyPL*100)/100 }}];\n} catch(e) { return [{ json: { ...h, current_price: 0, error: e.message }}]; }"
            },
            "name": "Calculate P&L",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                1344,
                32
            ],
            "id": "366f1d4e-c886-4151-8d4b-9d657b8d56d0"
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://ukgirrzwgmaatrrkkgis.supabase.co/functions/v1/analyze-aggregate",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "apikey",
                            "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InVrZ2lycnp3Z21hYXRycmtrZ2lzIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjY0ODcwMjEsImV4cCI6MjA4MjA2MzAyMX0.ACFUKgsqeuAcFshlfHwhiiAfaABbVqiQlkSMbp2zOdo"
                        },
                        {
                            "name": "Authorization",
                            "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InVrZ2lycnp3Z21hYXRycmtrZ2lzIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjY0ODcwMjEsImV4cCI6MjA4MjA2MzAyMX0.ACFUKgsqeuAcFshlfHwhiiAfaABbVqiQlkSMbp2zOdo"
                        }
                    ]
                },
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={ \"ticker\": \"{{ $json.ticker }}\", \"end_date\": \"{{ $now.format('yyyy-MM-dd') }}\", \"llm_provider\": \"gemini\", \"agents\": [\"warren_buffett\",\"peter_lynch\",\"ben_graham\",\"charlie_munger\",\"michael_burry\",\"cathie_wood\",\"bill_ackman\",\"stanley_druckenmiller\",\"phil_fisher\",\"mohnish_pabrai\",\"rakesh_jhunjhunwala\",\"aswath_damodaran\",\"technical_analyst\",\"fundamentals_analyst\",\"growth_analyst\",\"news_sentiment_analyst\",\"sentiment_analyst\"] }",
                "options": {
                    "timeout": 180000
                }
            },
            "name": "AI Analysis (17 Agents)",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4,
            "position": [
                1552,
                32
            ],
            "id": "194630fa-6d2f-428a-ab6f-b6ff7eaeeb39"
        },
        {
            "parameters": {
                "jsCode": "const pl = $('Calculate P&L').first().json;\nlet ai = $('AI Analysis (17 Agents)').first().json;\n\n// Handle array response\nif (Array.isArray(ai)) {\n  ai = ai[0];\n}\n\nconst signal = ai.aggregated_signal || 'N/A';\n\n// Calculate combined confidence\nlet formulaTotal = 0;\nlet llmTotal = 0;\nlet llmCount = 0;\nlet formulaCount = 0;\n\n(ai.agent_results || []).forEach(agent => {\n  formulaTotal += agent.confidence || 0;\n  formulaCount++;\n  \n  const llmResults = agent.analysis_data?.llm_results || {};\n  Object.entries(llmResults).forEach(([provider, result]) => {\n    if (result.confidence > 0 && !result.reasoning?.includes('Error')) {\n      llmTotal += result.confidence;\n      llmCount++;\n    }\n  });\n});\n\nconst formulaConf = formulaCount > 0 ? Math.round(formulaTotal / formulaCount) : 0;\nconst llmConf = llmCount > 0 ? Math.round(llmTotal / llmCount) : 0;\nconst combinedConf = llmCount > 0 ? Math.round((formulaConf + llmConf) / 2) : formulaConf;\n\nlet rec = 'HOLD';\nif (signal === 'BULLISH' && combinedConf >= 70) rec = 'ACCUMULATE';\nelse if (signal === 'BULLISH') rec = 'HOLD/BUY';\nelse if (signal === 'BEARISH' && combinedConf >= 70) rec = 'SELL';\nelse if (signal === 'BEARISH') rec = 'WATCH';\n\nconst staticData = $getWorkflowStaticData('global');\nif (!staticData.results) staticData.results = [];\nstaticData.results.push({ \n  ...pl, \n  ai_signal: signal, \n  ai_confidence: combinedConf,\n  formula_confidence: formulaConf,\n  llm_confidence: llmConf,\n  recommendation: rec \n});\n\nreturn [{ json: { \n  ...pl, \n  ai_signal: signal, \n  ai_confidence: combinedConf,\n  formula_confidence: formulaConf,\n  llm_confidence: llmConf,\n  recommendation: rec \n} }];"
            },
            "name": "Merge & Store",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                1744,
                32
            ],
            "id": "6e65b595-c73a-4de4-9c25-7e7a6a1e9aea"
        },
        {
            "parameters": {
                "tableId": "portfolio_analyses",
                "fieldsUi": {
                    "fieldValues": [
                        {
                            "fieldId": "ticker",
                            "fieldValue": "={{ $json.ticker }}"
                        },
                        {
                            "fieldId": "shares",
                            "fieldValue": "={{ $json.shares }}"
                        },
                        {
                            "fieldId": "buy_price",
                            "fieldValue": "={{ $json.avg_cost }}"
                        },
                        {
                            "fieldId": "current_price",
                            "fieldValue": "={{ $json.current_price }}"
                        },
                        {
                            "fieldId": "total_cost",
                            "fieldValue": "={{ $json.total_cost }}"
                        },
                        {
                            "fieldId": "current_value",
                            "fieldValue": "={{ $json.current_value }}"
                        },
                        {
                            "fieldId": "unrealized_pl",
                            "fieldValue": "={{ $json.unrealized_pl }}"
                        },
                        {
                            "fieldId": "unrealized_pl_percent",
                            "fieldValue": "={{ $json.unrealized_pl_pct }}"
                        },
                        {
                            "fieldId": "daily_pl",
                            "fieldValue": "={{ $json.daily_pl }}"
                        },
                        {
                            "fieldId": "ai_signal",
                            "fieldValue": "={{ $json.ai_signal }}"
                        },
                        {
                            "fieldId": "ai_confidence",
                            "fieldValue": "={{ $json.ai_confidence }}"
                        },
                        {
                            "fieldId": "recommendation",
                            "fieldValue": "={{ $json.recommendation }}"
                        }
                    ]
                }
            },
            "name": "Save to DB",
            "type": "n8n-nodes-base.supabase",
            "typeVersion": 1,
            "position": [
                1952,
                32
            ],
            "id": "33f83c30-77c0-46b5-9fba-07b5f474241a",
            "credentials": {
                "supabaseApi": {
                    "id": "W2X8BWyusvwAEBsB",
                    "name": "Supabase account"
                }
            }
        },
        {
            "parameters": {},
            "name": "Next",
            "type": "n8n-nodes-base.noOp",
            "typeVersion": 1,
            "position": [
                2144,
                32
            ],
            "id": "76b3fe77-7047-4fb9-9e46-57ef77e54384"
        },
        {
            "parameters": {
                "jsCode": "const staticData = $getWorkflowStaticData('global');\nconst holdings = staticData.results || [];\nif (!holdings.length) return [{ json: { summary_text: '⚠️ Veri bulunamadı!' } }];\n\nlet totalCost = 0, totalValue = 0, totalDailyPL = 0, totalPL = 0;\nconst lines = [];\nholdings.sort((a,b) => (b.current_value||0) - (a.current_value||0));\n\nfor (const h of holdings) {\n  totalCost += h.total_cost || 0;\n  totalValue += h.current_value || 0;\n  totalDailyPL += h.daily_pl || 0;\n  totalPL += h.unrealized_pl || 0;\n  \n  let plE = '⚪';\n  const pct = h.unrealized_pl_pct || 0;\n  if (pct > 20) plE = '🚀'; \n  else if (pct > 5) plE = '🟢'; \n  else if (pct > -5) plE = '⚪'; \n  else if (pct > -20) plE = '🟡'; \n  else plE = '🔴';\n  \n  const dE = (h.daily_pl||0) >= 0 ? '📈' : '📉';\n  const rE = h.ai_signal === 'BULLISH' ? '🟢' : (h.ai_signal === 'BEARISH' ? '🔴' : '⚪');\n  const ps = (h.unrealized_pl||0) >= 0 ? '+' : '';\n  const ds = (h.daily_pl||0) >= 0 ? '+' : '';\n  \n  // Show combined, formula, and LLM confidence\n  const confLine = h.llm_confidence > 0 \n    ? `🎯${h.ai_confidence}% (🧮${h.formula_confidence}% 🤖${h.llm_confidence}%)`\n    : `🧮${h.formula_confidence || h.ai_confidence}%`;\n  \n  lines.push(`${plE} *${h.ticker}*\\n   💰 $${(h.current_price||0).toFixed(2)} × ${(h.shares||0).toFixed(2)}\\n   📊 $${(h.total_cost||0).toFixed(0)} → $${(h.current_value||0).toFixed(0)}\\n   ${dE} Gün: ${ds}$${(h.daily_pl||0).toFixed(0)}\\n   📈 Top: ${ps}$${(h.unrealized_pl||0).toFixed(0)} (${ps}${pct.toFixed(1)}%)\\n   🤖 ${rE} ${h.ai_signal||'N/A'} ${confLine} → ${h.recommendation||'HOLD'}`);\n}\n\nconst plPct = totalCost > 0 ? (totalPL/totalCost)*100 : 0;\nconst dPct = (totalValue-totalDailyPL) > 0 ? (totalDailyPL/(totalValue-totalDailyPL))*100 : 0;\nlet oE = '⚪'; \nif (plPct > 20) oE = '🚀'; \nelse if (plPct > 5) oE = '🟢'; \nelse if (plPct > -5) oE = '⚪'; \nelse if (plPct > -20) oE = '🟡'; \nelse oE = '🔴';\n\nconst dE = totalDailyPL >= 0 ? '📈' : '📉';\nconst now = new Date();\nconst dt = now.toLocaleDateString('tr-TR', {day:'2-digit',month:'2-digit',year:'numeric',hour:'2-digit',minute:'2-digit'});\n\nconst msg = `📊 *PORTFÖY GÜNLÜK RAPORU*\\n⏰ ${dt}\\n\\n━━━━━━━━━━━━━━━━━━━━━\\n${oE} *TOPLAM PORTFÖY*\\n━━━━━━━━━━━━━━━━━━━━━\\n\\n💵 *Yatırım:* $${totalCost.toFixed(0)}\\n💰 *Değer:* $${totalValue.toFixed(0)}\\n\\n${dE} *Günlük:* ${totalDailyPL>=0?'+':''}$${totalDailyPL.toFixed(0)} (${totalDailyPL>=0?'+':''}${dPct.toFixed(2)}%)\\n\\n📈 *Toplam K/Z:* ${totalPL>=0?'+':''}$${totalPL.toFixed(0)} (${totalPL>=0?'+':''}${plPct.toFixed(2)}%)\\n\\n📋 *Pozisyon:* ${holdings.length}\\n\\n━━━━━━━━━━━━━━━━━━━━━\\n📋 *POZİSYONLAR*\\n━━━━━━━━━━━━━━━━━━━━━\\n\\n${lines.join('\\n\\n')}\\n\\n━━━━━━━━━━━━━━━━━━━━━\\n_🤖 AI Hedge Fund - 17 Agent (Formül + LLM)_`;\n\nstaticData.results = [];\nreturn [{ json: { summary_text: msg, total_cost: totalCost, total_value: totalValue, total_daily_pl: totalDailyPL, total_pl: totalPL, total_pl_pct: plPct, count: holdings.length } }];"
            },
            "name": "Generate Report",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                1152,
                240
            ],
            "id": "4da2fd67-49a0-498a-8db3-ec59a7f52b71"
        },
        {
            "parameters": {
                "chatId": "-4820408060",
                "text": "={{ $json.summary_text }}",
                "additionalFields": {
                    "parse_mode": "Markdown"
                }
            },
            "name": "Send Telegram",
            "type": "n8n-nodes-base.telegram",
            "typeVersion": 1,
            "position": [
                1344,
                240
            ],
            "id": "73b1b05c-f6b4-43dd-aad6-d7a0ba868bc8",
            "webhookId": "129cbdb2-f5e1-40b5-9222-295f97a74219",
            "credentials": {
                "telegramApi": {
                    "id": "3ocfCvvjIk4mgxda",
                    "name": "Telegram account"
                }
            }
        },
        {
            "parameters": {
                "tableId": "portfolio_summaries",
                "fieldsUi": {
                    "fieldValues": [
                        {
                            "fieldId": "total_cost",
                            "fieldValue": "={{ $json.total_cost }}"
                        },
                        {
                            "fieldId": "total_value",
                            "fieldValue": "={{ $json.total_value }}"
                        },
                        {
                            "fieldId": "total_daily_pl",
                            "fieldValue": "={{ $json.total_daily_pl }}"
                        },
                        {
                            "fieldId": "total_unrealized_pl",
                            "fieldValue": "={{ $json.total_pl }}"
                        },
                        {
                            "fieldId": "total_pl_percent",
                            "fieldValue": "={{ $json.total_pl_pct }}"
                        },
                        {
                            "fieldId": "holding_count",
                            "fieldValue": "={{ $json.count }}"
                        }
                    ]
                }
            },
            "name": "Save Summary",
            "type": "n8n-nodes-base.supabase",
            "typeVersion": 1,
            "position": [
                1552,
                240
            ],
            "id": "d345c83b-a565-4f8c-ac85-ca36cecb25e0",
            "credentials": {
                "supabaseApi": {
                    "id": "W2X8BWyusvwAEBsB",
                    "name": "Supabase account"
                }
            }
        }
    ],
    "pinData": {
        "Cron (16:00)": [
            {
                "json": {
                    "timestamp": "2025-12-23T19:32:47.318-05:00",
                    "Readable date": "December 23rd 2025, 7:32:47 pm",
                    "Readable time": "7:32:47 pm",
                    "Day of week": "Tuesday",
                    "Year": "2025",
                    "Month": "December",
                    "Day of month": "23",
                    "Hour": "19",
                    "Minute": "32",
                    "Second": "47",
                    "Timezone": "Europe/Madrid (UTC+01:00)"
                }
            }
        ]
    },
    "connections": {
        "Cron (16:00)": {
            "main": [
                [
                    {
                        "node": "Download CSV",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Download CSV": {
            "main": [
                [
                    {
                        "node": "Parse CSV",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Parse CSV": {
            "main": [
                [
                    {
                        "node": "Aggregate Positions",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Aggregate Positions": {
            "main": [
                [
                    {
                        "node": "Loop",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Loop": {
            "main": [
                [
                    {
                        "node": "Generate Report",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Yahoo Price",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Yahoo Price": {
            "main": [
                [
                    {
                        "node": "Calculate P&L",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Calculate P&L": {
            "main": [
                [
                    {
                        "node": "AI Analysis (17 Agents)",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "AI Analysis (17 Agents)": {
            "main": [
                [
                    {
                        "node": "Merge & Store",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Merge & Store": {
            "main": [
                [
                    {
                        "node": "Save to DB",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Save to DB": {
            "main": [
                [
                    {
                        "node": "Next",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Next": {
            "main": [
                [
                    {
                        "node": "Loop",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Generate Report": {
            "main": [
                [
                    {
                        "node": "Send Telegram",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "Save Summary",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "active": true,
    "settings": {
        "executionOrder": "v1"
    },
    "versionId": "8f8ca7f6-249c-4f9b-8cc4-c74721044879",
    "meta": {
        "templateCredsSetupCompleted": true,
        "instanceId": "a543e5018053c03df832d6ac73af6c1a33f61d9045f4d98453e98d306a4b77f2"
    },
    "id": "Oa3QCrL4jH6gAC2d",
    "tags": []
}