n8n-workflows/6a-portfolio-analyze.json
{
    "name": "Portfolio Analysis (Part 1 - Analyze)",
    "nodes": [
        {
            "parameters": {
                "rule": {
                    "interval": [
                        {
                            "field": "cronExpression",
                            "expression": "0 16 * * 1-5"
                        }
                    ]
                }
            },
            "name": "Cron (16:00)",
            "type": "n8n-nodes-base.scheduleTrigger",
            "typeVersion": 1,
            "position": [
                -1000,
                200
            ],
            "id": "cron-trigger"
        },
        {
            "parameters": {
                "method": "GET",
                "url": "YOUR_GIST_RAW_URL_HERE",
                "options": {
                    "response": {
                        "response": {
                            "responseFormat": "text"
                        }
                    },
                    "timeout": 30000
                }
            },
            "name": "Download CSV",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4,
            "position": [
                -800,
                200
            ],
            "id": "download-csv"
        },
        {
            "parameters": {
                "mode": "runOnceForAllItems",
                "jsCode": "const csvText = $input.first().json.data || $input.first().json.body || $input.first().json;\nif (typeof csvText === 'object' && !Array.isArray(csvText) && csvText.Way) return $input.all();\nconst lines = String(csvText).split('\\n').filter(line => line.trim());\nif (lines.length < 2) throw new Error('CSV is empty');\nconst headers = lines[0].split(',').map(h => h.replace(/\"/g, '').trim());\nconst rows = [];\nfor (let i = 1; i < lines.length; i++) {\n  const values = [];\n  let current = '', inQuotes = false;\n  for (const char of lines[i]) {\n    if (char === '\"') inQuotes = !inQuotes;\n    else if (char === ',' && !inQuotes) { values.push(current.trim()); current = ''; }\n    else current += char;\n  }\n  values.push(current.trim());\n  const row = {};\n  headers.forEach((h, idx) => { row[h] = values[idx] || ''; });\n  rows.push({ json: row });\n}\nreturn rows;"
            },
            "name": "Parse CSV",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                -600,
                200
            ],
            "id": "parse-csv"
        },
        {
            "parameters": {
                "mode": "runOnceForAllItems",
                "jsCode": "const items = $input.all();\nconst positions = {};\nfor (const item of items) {\n  const row = item.json;\n  const way = row.Way || '';\n  const baseType = row['Base type'] || '';\n  if (!way || way === 'Way' || baseType !== 'STOCK') continue;\n  if (way !== 'BUY' && way !== 'SELL') continue;\n  const baseCurrency = row['Base currency (name)'] || '';\n  const tickerMatch = baseCurrency.match(/^([A-Z0-9.]+)\\s*\\(/);\n  if (!tickerMatch) continue;\n  const ticker = tickerMatch[1].replace('.MC', '');\n  const companyName = baseCurrency.match(/\\(([^)]+)\\)/)?.[1] || ticker;\n  const amount = parseFloat(row['Base amount']) || 0;\n  const quoteAmount = parseFloat(row['Quote amount']) || 0;\n  if (!positions[ticker]) positions[ticker] = { ticker, company_name: companyName, total_shares: 0, total_cost: 0 };\n  if (way === 'BUY') { positions[ticker].total_shares += amount; positions[ticker].total_cost += quoteAmount; }\n  else if (way === 'SELL') {\n    positions[ticker].total_shares -= amount;\n    if (positions[ticker].total_shares > 0) positions[ticker].total_cost *= positions[ticker].total_shares / (positions[ticker].total_shares + amount);\n    else positions[ticker].total_cost = 0;\n  }\n}\nconst active = Object.values(positions).filter(p => p.total_shares > 0.0001).map(p => ({\n  ticker: p.ticker, company_name: p.company_name,\n  shares: Math.round(p.total_shares * 1000000) / 1000000,\n  total_cost: Math.round(Math.abs(p.total_cost) * 100) / 100,\n  avg_cost_per_share: Math.round((p.total_cost / p.total_shares) * 100) / 100\n}));\nreturn active.map(p => ({ json: p }));"
            },
            "name": "Aggregate",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                -400,
                200
            ],
            "id": "aggregate"
        },
        {
            "parameters": {
                "batchSize": 1,
                "options": {}
            },
            "name": "Loop",
            "type": "n8n-nodes-base.splitInBatches",
            "typeVersion": 3,
            "position": [
                -200,
                200
            ],
            "id": "loop"
        },
        {
            "parameters": {
                "method": "GET",
                "url": "=https://query1.finance.yahoo.com/v8/finance/chart/{{ $json.ticker }}?interval=1d&range=5d",
                "options": {
                    "timeout": 15000
                }
            },
            "name": "Yahoo Price",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4,
            "position": [
                0,
                200
            ],
            "id": "yahoo-price"
        },
        {
            "parameters": {
                "jsCode": "const yahoo = $('Yahoo Price').first().json;\nconst h = $('Loop').first().json;\ntry {\n  const meta = yahoo.chart?.result?.[0]?.meta || {};\n  const price = meta.regularMarketPrice || 0;\n  const prev = meta.chartPreviousClose || price;\n  const value = h.shares * price;\n  const pl = value - h.total_cost;\n  const plPct = h.total_cost > 0 ? (pl / h.total_cost) * 100 : 0;\n  const dailyPL = h.shares * (price - prev);\n  return [{ json: { ...h, current_price: Math.round(price*100)/100, current_value: Math.round(value*100)/100, unrealized_pl: Math.round(pl*100)/100, unrealized_pl_percent: Math.round(plPct*100)/100, daily_pl: Math.round(dailyPL*100)/100 } }];\n} catch(e) {\n  return [{ json: { ...h, current_price: 0, current_value: 0, unrealized_pl: 0, unrealized_pl_percent: 0, daily_pl: 0, error: e.message } }];\n}"
            },
            "name": "Calc P&L",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                200,
                200
            ],
            "id": "calc-pl"
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://ukgirrzwgmaatrrkkgis.supabase.co/functions/v1/analyze-aggregate",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "apikey",
                            "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InVrZ2lycnp3Z21hYXRycmtrZ2lzIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjY0ODcwMjEsImV4cCI6MjA4MjA2MzAyMX0.ACFUKgsqeuAcFshlfHwhiiAfaABbVqiQlkSMbp2zOdo"
                        },
                        {
                            "name": "Authorization",
                            "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InVrZ2lycnp3Z21hYXRycmtrZ2lzIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjY0ODcwMjEsImV4cCI6MjA4MjA2MzAyMX0.ACFUKgsqeuAcFshlfHwhiiAfaABbVqiQlkSMbp2zOdo"
                        }
                    ]
                },
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={ \"ticker\": \"{{ $json.ticker }}\", \"end_date\": \"{{ $now.format('yyyy-MM-dd') }}\", \"llm_provider\": \"gemini\", \"agents\": [\"warren_buffett\",\"peter_lynch\",\"ben_graham\",\"charlie_munger\",\"michael_burry\",\"cathie_wood\",\"bill_ackman\",\"stanley_druckenmiller\",\"phil_fisher\",\"mohnish_pabrai\",\"rakesh_jhunjhunwala\",\"aswath_damodaran\",\"technical_analyst\",\"fundamentals_analyst\",\"growth_analyst\",\"news_sentiment_analyst\",\"sentiment_analyst\"] }",
                "options": {
                    "timeout": 180000
                }
            },
            "name": "AI Analysis",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4,
            "position": [
                400,
                200
            ],
            "id": "ai-analysis"
        },
        {
            "parameters": {
                "jsCode": "const pl = $('Calc P&L').first().json;\nconst ai = $('AI Analysis').first().json;\nconst signal = ai.aggregated_signal || 'N/A';\nconst conf = ai.aggregated_confidence || 0;\nlet rec = 'HOLD';\nif (signal === 'BULLISH' && conf >= 70) rec = 'ACCUMULATE';\nelse if (signal === 'BULLISH') rec = 'HOLD/BUY';\nelse if (signal === 'BEARISH' && conf >= 70) rec = 'SELL';\nelse if (signal === 'BEARISH') rec = 'WATCH';\nreturn [{ json: { ...pl, ai_signal: signal, ai_confidence: conf, recommendation: rec } }];"
            },
            "name": "Merge",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                600,
                200
            ],
            "id": "merge"
        },
        {
            "parameters": {
                "tableId": "portfolio_analyses",
                "fieldsUi": {
                    "fieldValues": [
                        {
                            "fieldId": "ticker",
                            "fieldValue": "={{ $json.ticker }}"
                        },
                        {
                            "fieldId": "shares",
                            "fieldValue": "={{ $json.shares }}"
                        },
                        {
                            "fieldId": "buy_price",
                            "fieldValue": "={{ $json.avg_cost_per_share }}"
                        },
                        {
                            "fieldId": "current_price",
                            "fieldValue": "={{ $json.current_price }}"
                        },
                        {
                            "fieldId": "total_cost",
                            "fieldValue": "={{ $json.total_cost }}"
                        },
                        {
                            "fieldId": "current_value",
                            "fieldValue": "={{ $json.current_value }}"
                        },
                        {
                            "fieldId": "unrealized_pl",
                            "fieldValue": "={{ $json.unrealized_pl }}"
                        },
                        {
                            "fieldId": "unrealized_pl_percent",
                            "fieldValue": "={{ $json.unrealized_pl_percent }}"
                        },
                        {
                            "fieldId": "daily_pl",
                            "fieldValue": "={{ $json.daily_pl }}"
                        },
                        {
                            "fieldId": "ai_signal",
                            "fieldValue": "={{ $json.ai_signal }}"
                        },
                        {
                            "fieldId": "ai_confidence",
                            "fieldValue": "={{ $json.ai_confidence }}"
                        },
                        {
                            "fieldId": "recommendation",
                            "fieldValue": "={{ $json.recommendation }}"
                        }
                    ]
                }
            },
            "name": "Save to DB",
            "type": "n8n-nodes-base.supabase",
            "typeVersion": 1,
            "position": [
                800,
                200
            ],
            "credentials": {
                "supabaseApi": {
                    "id": "W2X8BWyusvwAEBsB",
                    "name": "Supabase account"
                }
            },
            "id": "save-db"
        },
        {
            "parameters": {},
            "name": "Continue",
            "type": "n8n-nodes-base.noOp",
            "typeVersion": 1,
            "position": [
                1000,
                200
            ],
            "id": "continue"
        }
    ],
    "connections": {
        "Cron (16:00)": {
            "main": [
                [
                    {
                        "node": "Download CSV",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Download CSV": {
            "main": [
                [
                    {
                        "node": "Parse CSV",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Parse CSV": {
            "main": [
                [
                    {
                        "node": "Aggregate",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Aggregate": {
            "main": [
                [
                    {
                        "node": "Loop",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Loop": {
            "main": [
                [
                    {
                        "node": "Yahoo Price",
                        "type": "main",
                        "index": 0
                    }
                ],
                []
            ]
        },
        "Yahoo Price": {
            "main": [
                [
                    {
                        "node": "Calc P&L",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Calc P&L": {
            "main": [
                [
                    {
                        "node": "AI Analysis",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "AI Analysis": {
            "main": [
                [
                    {
                        "node": "Merge",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Merge": {
            "main": [
                [
                    {
                        "node": "Save to DB",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Save to DB": {
            "main": [
                [
                    {
                        "node": "Continue",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Continue": {
            "main": [
                [
                    {
                        "node": "Loop",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "active": false,
    "settings": {
        "executionOrder": "v1",
        "timezone": "Europe/Madrid"
    },
    "tags": [
        "portfolio",
        "analysis"
    ]
}